applescript
astor
baidu_aip
bs4
deep-translator
easyocr
jieba
libcst
loguru
mammoth
matplotlib
natsort
numpy
paddleocr
prettytable
psutil
pypandoc
pyperclip
pyqt6
pytesseract
python-docx
qtawesome
ruamel.yaml
scipy
spacy
torch
webcolors
xmltodict