applescript
astor
baidu_aip
bs4
chardet
deep-translator
easyocr
jieba
libcst
loguru
mammoth
matplotlib
natsort
nltk
numpy
paddleocr
paddlepaddle
prettytable
psd_tools
psutil
pypandoc
pyperclip
pyqt6
pytesseract
python-docx
qtawesome
ruamel.yaml
scipy
spacy
torch
webcolors
xmltodict